body, form, table {
	background-color: #c0c0c0;
	color: #00ff00;
	font-size: 20px;
}
a:visited {
    text-decoration: none;
    color: #7cfc00;
}
a:link {
	 text-decoration: none;
    color: #8000ff;
}
a {
	position: relative;
    display: block;
    text-decoration: none;
    padding: 0px 5px 5px 0px;
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    background-color: #333;
    border-bottom: #666666 dotted 1px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: rgb(102, 102, 102);
}
a:hover {
	text-decoration: none;
    color: #0000ff;
    background-color: #808080;
}
body{
    background-color: #c0c0c0;
    color: #8000ff;
}
.error{
    font-size: 12px;
    color: #ff0000;
}
.top{
    font-size: 30px;
    color: #ff0000;
}  