.top{
    font-size: 30px;
    color: #ff0000;
}
.error{
    font-size: 12px;
    color: #ff0000;
}
.data{
   	color: #333333;
   	font-size: 20px;
	
} 
.center{
    font-size: 15px;
	color: #00DD00;
	
}
body, form, table {
	background-color: #c0c0c0;
	font-size: 20px;
	
}
